/* Style for mandatory and optional indicators */
.indicator {
    font-weight: bold;
    margin-left: 5px;
}

.mandatory {
    color: red;
}

.optional {
    color: grey;
}

/* Tooltip styling (if you'd like to add tooltips on hover) */
.form-group label {
    position: relative;
}

.form-group label .indicator {
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 0.8em;
}

.form-group >input:focus{
    background-color: bisque;
}

.form-group input:required + .indicator.mandatory {
    color: red;
}

.form-group input:not(:required) + .indicator.optional {
    color: green;
}
